html
{ height: 80%;
}

*
{ margin: 0;
    padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #1293EE;
    color: #777;}

{ padding: 0 0 20px 0;
    line-height: 1.7em;}

img
{ border: 0;
    margin-left: auto;
}


#main{
    margin: 10% 40%;
    width: 360px;
    height: 640px;
    background-color:#ffffff;
}
.header{
    width: 100%;
    height: 60px;
}
 search{
     border-bottom: #F02F2F;
     width: 100%;
    height: 60px;
}
